**/*.pdf
**/.idea
**/*.lnk
**/*.ppt


computerArchitecture/lab/*.exe
computerArchitecture/lab/report/*.pdf
computerArchitecture/lab/report/*.docx

computerArchitecture/ppt/

machineLearning/**/.ipynb_checkpoints

embeddedSystem/experiments/report/*.pdf
embeddedSystem/experiments/report/*.docx
